<nav>
  <ul class="nav-list">
    @if (login$ | async) {
      <li>Welcome {{login$ | async | titlecase}}</li>
      <li><a (click)="logout()">Log out</a></li>
      <li><a [routerLink]="'create-post'" routerLinkActive="active">Create post</a></li>
    } @else {
      <li><a [routerLink]="'signin'" routerLinkActive="active">Sign in</a></li>
      <li><a [routerLink]="'signup'" routerLinkActive="active">Sign up</a></li>
    }
    <li><a [routerLink]="'posts'" routerLinkActive="active">Post's list</a></li>
  </ul>
</nav>
