<div class="container">
  <div class="form-container">
    <h1>{{ postTitle$ | async | titlecase }}</h1>
    <p><i>{{ postText$ | async }}</i></p>
    <div>
      <span>{{ ((postAuthor$ | async) ?? 'Unknown author' | titlecase) }}. </span>
      <span>{{ postCreatedAt$ | async | date }}</span>
    </div>
    @if (isAuthor$ | async) {
      <div class="card-buttons">
        <button (click)="editPost()" class="primary-btn" mat-flat-button>Edit</button>
        <button (click)="deletePost()" class="primary-btn delete-btn" mat-stroked-button>Delete</button>
      </div>
    }
  </div>
</div>
