/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  /*color: var(--bright-blue);*/
}

* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  padding: 0 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
}

.primary-btn {
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
